

.child 1{
    width:200px;
    height:200px;
    background:black;
}

.child 2{
    width:200px;
    height:200px;
    background: seagreen;
}

.child3{
    width:200px;
    height:200px;
    background: blue;
}